@model MechBuilder.NET.Web.Views.Home.Index

@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <div class="row justify-content-center pt-5">
                    <div class="col-2">
                        <div class="text-center">Right Arm</div>
                        <div>
                            @{
                                for (var i = 0; i < 12; i++)
                                {
                                    <div class="border p-1 slot empty-slot" ondragover="allowDrop(event)" ondrop="dragDrop(event)">&nbsp;</div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center">Right Torso</div>
                        <div>
                            @{
                                for (var i = 0; i < 12; i++)
                                {
                                    <div class="border p-1 slot empty-slot" ondragover="allowDrop(event)" ondrop="dragDrop(event)">&nbsp;</div>
                                }
                            }
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                <div class="text-center">Right Leg</div>
                                <div>
                                    @{
                                        for (var i = 0; i < 12; i++)
                                        {
                                            <div class="border p-1 slot empty-slot" ondragover="allowDrop(event)" ondrop="dragDrop(event)">&nbsp;</div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center">Head</div>
                        <div>
                            @{
                                for (var i = 0; i < 6; i++)
                                {
                                    <div class="border p-1 slot empty-slot" ondragover="allowDrop(event)" ondrop="dragDrop(event)">&nbsp;</div>
                                }
                            }
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                <div class="text-center">Center</div>
                                <div>
                                    @{
                                        for (var i = 0; i < 12; i++)
                                        {
                                            <div class="border p-1 slot empty-slot" ondragover="allowDrop(event)" ondrop="dragDrop(event)">&nbsp;</div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center">Left Torso</div>
                        <div>
                            @{
                                for (var i = 0; i < 12; i++)
                                {
                                    <div class="border p-1 slot empty-slot" ondragover="allowDrop(event)" ondrop="dragDrop(event)">&nbsp;</div>
                                }
                            }
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                <div class="text-center">Left Leg</div>
                                <div>
                                    @{
                                        for (var i = 0; i < 12; i++)
                                        {
                                            <div class="border p-1 slot empty-slot" ondragover="allowDrop(event)" ondrop="dragDrop(event)">&nbsp;</div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center">Left Arm</div>
                        <div>
                            @{
                                for (var i = 0; i < 12; i++)
                                {
                                    <div class="border p-1 slot empty-slot" ondragover="allowDrop(event)" ondrop="dragDrop(event)">&nbsp;</div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <ul class="col-2 overflow-auto mt-5 weapon-list">
                @{
                    foreach (var weapon in Model.Weapons)
                    {
                        var weaponClass = Model.GetWeaponClass(weapon.Type);
                        <li id="weapon-@weapon.Name" class="row border list-group-item list-group-item-action weapon-list-element m-0 mb-1 @weaponClass" data-slots="@weapon.Slots" data-type-class="@weaponClass" ondragstart="dragStart(event)">
                            <label>@weapon.Name (@weapon.Slots)</label>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/editor.js" asp-append-version="true"></script>
}
